<nav class="navbar navbar-expand-lg bg-success">
    <div class="container-fluid">
      
       <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
       </button>
       <div class="collapse navbar-collapse" id="navbarNavDropdown">
         <ul class="navbar-nav">
            <li class="nav-item">
                <a style="color: aliceblue;" class="nav-link active" aria-current="page" routerLink="/guide">Guidence</a>
              </li>
              <li class="nav-item">
                <a style="color: aliceblue;" class="nav-link active" aria-current="page" routerLink="/about">About us</a>
              </li>
           
  
           <li class="nav-item dropdown">
             <a  style="color: aliceblue;"class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
               SCANNING
             </a>
             <ul class="dropdown-menu">
               <li><a class="dropdown-item" routerLink="/insert">insert</a></li>
               <li><a class="dropdown-item" routerLink="/read">read</a></li>
               <li><a class="dropdown-item" routerLink="/update">Update</a></li>
               <li><a class="dropdown-item" routerLink="/delete">delete</a></li>
             </ul>
           </li>
           <li class="nav-item dropdown">
            <a  style="color: aliceblue;"class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Doctor
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="/doctorinsert">insert</a></li>
              <li><a class="dropdown-item" routerLink="/dread">read</a></li>
              
            </ul>
          </li>
          <li>
            <a style="color: aliceblue;" class="nav-link active a" id="log" aria-current="page" (click)="onLogout()">Logout</a>
        
       </li>
         </ul>
         </div>
    </div>
    </nav>
  
  
  
  
  
   
  <router-outlet></router-outlet>
  
    
   <img src="\assets\images\Untitled.png" height="400px" width="500px" >
  
  <div class="about-section">
      <h1>About Us Page</h1>
      <p>Some text about who we are and what we do.</p>
      <p>Resize the browser window to see that this page is responsive by the way.</p>
    </div>
    
    <div>
      <div class="section">
        <div class="text">
          <h2>p.priyanka</h2>
      <p class="title">CEO & Founder</p>
      <p>this is priyanka.</p>
      <p>Email:pulivarthi2003@gamil.com</p>
      <p>phno:9059485936</p>
      <P>Roll no:21471A05I9</P>
     
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15333.796524344281!2d80.15222444790321!3d16.094051003422152!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a4a636b1370eb19%3A0x83f184f547f89e53!2sChilakaluripet%2C%20Andhra%20Pradesh%20522616!5e0!3m2!1sen!2sin!4v1689143012097!5m2!1sen!2sin" width="440" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  
             </div>
        <img src="assets\images\about1.jpg" alt="">
    </div>
      
      <div class="section">
          <div class="text">
              <h2>pavani</h2>
            <p class="title">team member</p>
            <p>Some text that describes me lorem ipsum ipsum lorem.</p>
            <p>Email:pavanigouravarapu@gmail.com</p>
            <p>phno:6303311432</p>
            <P>Roll no:21471A05I6</P>
            
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d30646.03938766842!2d80.02982015686966!3d16.2330343060848!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a4a80e219d5231d%3A0xdfc40d36b38556a!2sNarasaraopeta%2C%20Andhra%20Pradesh%20522601!5e0!3m2!1sen!2sin!4v1689143121762!5m2!1sen!2sin" width="440" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
         
               </div>
               <img src="assets\images\about2.jpg" alt="">
          
      </div>
       
      
      
      <div class="section">
          <div class="text">
              <h2>salini</h2>
              <p class="title">team member</p>
              <p>Some text that describes me lorem ipsum ipsum lorem.</p>
              <p>Email:salinigade23@gmail.com</p>
              <p>phno:8522819117</p>
              <p>Roll no:21471A05E9</p>
              <p>
             
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d61263.80511728212!2d80.39331875707957!3d16.323566604503558!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a4a755cb1787785%3A0x9f7999dd90f1e694!2sGuntur%2C%20Andhra%20Pradesh!5e0!3m2!1sen!2sin!4v1689143177737!5m2!1sen!2sin" width="440" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
               </div>
               <img src="assets\images\about3.jpg" alt="">
          
      </div>
       
        <div class="section">
          <div class="text">
              <h2>sirisha</h2>
              <p class="title">team member</p>
              <p>Some text that describes me lorem ipsum ipsum lorem.</p>
              <p>Email:gogadavamsi5@gmail@gmail.com</p>
              <p>phno:8125718544</p>
              <p>Roll no:21471AO5F2</p>
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15310.223713656347!2d80.13928119801042!3d16.39656859929926!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a35817d7ce39d05%3A0xc4aca0887504812!2sSattenapalle%2C%20Andhra%20Pradesh%20522403!5e0!3m2!1sen!2sin!4v1689143241813!5m2!1sen!2sin" width="440" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            
            
              
               </div>
               <img src="assets\images\about1.jpg" alt="">
          
      </div>
       
            
        <div class="section">
          <div class="text">
              <h2>S.V.Jhansi Lakshmi</h2>
              <p class="title">team member</p>
              <p>Some text that describes me lorem ipsum ipsum lorem.</p>
              <p>Email:surevenkatajhansilakshmi@gmail@gmail.com</p>
              <p>phno:9553054765</p>
              <p>Roll no:21471AO5J9</p>
             
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d244599.73999456898!2d79.96905998127103!3d16.68334066321358!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a35a02f180ab3a1%3A0xc5b5e029fb6e2f4b!2sAtchampet%2C%20Andhra%20Pradesh!5e0!3m2!1sen!2sin!4v1689142660875!5m2!1sen!2sin" width="440" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
           
               </div>
               <img src="assets\images\about2.jpg" alt="">
         
      </div>
  
        
        <div class="section">
          <div class="text">
              <h2>k.gangothri</h2>
            <p class="title">team member</p>
            <p>Some text that describes me lorem ipsum ipsum lorem.</p>
            <p>Email:gangothrireddy1916@gmail.com</p>
            <p>phno:770240043</p>
            <p>Roll no:21471AO5H3</p>
             
             <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15336.870937892201!2d79.73346649788922!3d16.054187153967504!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a4a962aba0a9e9d%3A0xf842b385219f7aab!2sVinukonda%2C%20Andhra%20Pradesh%20522647!5e0!3m2!1sen!2sin!4v1689143304087!5m2!1sen!2sin" width="440" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
          <img src="assets\images\about3.jpg" alt="">
          
      </div>
  
    
      
      
      
        <div class="section">
          <div class="text">
              <h2>k.chandrika</h2>
              <p class="title">team member</p>
              <p>Some text that describes me lorem ipsum ipsum lorem.</p>
              <p>Email:kottechandrika22@gmail.com</p>
              <p>phno:8008329182</p>
              <p>Roll no:21471AO5H3</p>
              
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d61263.80511728212!2d80.39331875707958!3d16.323566604503544!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a4a755cb1787785%3A0x9f7999dd90f1e694!2sGuntur%2C%20Andhra%20Pradesh!5e0!3m2!1sen!2sin!4v1689143345726!5m2!1sen!2sin" width="440" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            
         </div>
         <img src="assets\images\about3.jpg" alt="">
  </div>
