
#image-container{
    width: 38%;
    height:65%;
    top:0%;
    left: 29%;
    background-image: url(../../assets/images/img6.jpg);
    background-size: cover;
    background-position: center;
    position:relative;
}
#my-class{
       font-size:  60px;
       font-weight: bold;
       font-style:italic;
       color:black;
       margin-top: 117px;
       margin-left: 480px;


}
#my-text{
    font-size: 50px;
    font-weight: bold;
    margin-top: 1px;
    margin-left: 60px;
}